<h1>BMI Calculator</h1>
<p>You can use this page to calculate your <a href="https://en.wikipedia.org/wiki/Body_mass_index">body mass index</a> and determine whether you fall into a healthy range.</p>

<div id="inputs">
  <input type="text" id="height" class="required" placeholder="Height" />
  
  <input type="text" id="weight" class="required" placeholder="Weight" pattern="[0-9.]+" />
  <button id="calculate">Calculate</button>
  
  <span id="result">Your BMI is <span id="bmi"></span> (<span id="category"></span>).</span>
</div>

<div id="unit-selector">
  <h2>Units</h2>

  <label><input type="radio" name="units" value="metric" checked /> Metric (centimeters, kilograms)</label>

  <label><input type="radio" name="units" value="us-imperial" /> US imperial (feet and inches, pounds)</label>

  <label><input type="radio" name="units" value="uk-imperial" /> UK imperial (feet and inches, stone)</label>
</div>
<script src="script.js"></script>